/* Add application styles & imports to this file! */

.cursor-pointer,
.cursor-pointer * {
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .sortingenabled {
    margin-top: 30px;
  }
}
